{% extends "base.html" %}
{% block content %}
    <div>
      <form action="" method="post" name="PageForm">
        {{ form.hidden_tag() }}
        <p>Server Address: {{ form.ServerAddress(size=30) }}</p>
        <p>Site Name: {{ form.SiteName(size=30)  }}
        <p>uid: {{ form.uid(size=30) }}</p>
        {% for error in form.ServerAddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
{% endblock %}
